{% extends 'base.html' %}
{% block content %}

<h1 class="center">Edit <span class="pinky-text">'{{object.title}}'</span> Entry</h1>

<form action="" method="POST">
  {% csrf_token %}
  <table> {{ form.as_table }} </table>
  <input type="submit" value="Submit!" class="btn">
  <a href="{% url 'detail' object.journal_id %}">Cancel</a>
</form>

<script>
  const selectEl = document.getElementById('id_weather');
  M.FormSelect.init(selectEl);

  const moodEl = document.getElementById('id_mood');
  M.FormSelect.init(moodEl);
</script>

{% endblock %}