{% extends 'base.html' %}
{% block content %}

<h1>Journal: {{ journal.name }}
  <span class="right">
    <a href="{% url 'add_entry' journal.id %}" class="btn-floating btn-large waves-effect waves-light red"><i
        class="material-icons">add</i></a>
  </span>
</h1>


{% if journal.is_empty %}
<div class="card-panel red-text center-align">{{journal.name}} has no entries</div>

{% elif journal.template == 'T' %}
<p>hey there</p>
{% for travel in travels %}
<div class="card">
  <div class="card-content">
    <h3>{{travel.title }}</h3>
    <p>Created at: {{travel.updated_at}}</p>
    <p> Date: {{travel.date}} </p>
    <p> Content: {{travel.body}} </p>
    <p> Mood: {{travel.mood_tracker}}</p>
    <p> Location: {{travel.location}}</p>
    <p> Food: {{travel.food}}</p>
    <p> Weather: {{travel.weather_display}}</p>
    <p> Notes: {{travel.notes}}</p>
    <div class="card-action">
      <a href="{% url 'travel_update' travel.id %}">Edit</a>
      <a href="{% url 'travel_delete' travel.id %}">Delete</a>
    </div>
  </div>
</div>
{% endfor %}

{% elif journal.has_entries %}
{% for entry in entries %}
<div class="card">
  <div class="card-content">
    <a href="{% url  'entry_detail' entry.id %}">
      <h3>{{entry.title}}</h3>
      <p> Date: {{entry.date}} </p>
      <p> Content: {{entry.body}} </p>
      <p> Mood: {{entry.mood_tracker}}</p>
      <p>Notes: {{entry.notes}}</p>
    </a>
    <div class="card-action">
      <a href="{% url 'entry_update' entry.id %}">Edit</a>
      <a href="{% url 'entry_delete' entry.id %}">Delete</a>
    </div>
  </div>
</div>
{% endfor %}

{% endif %}


{% endblock %}