{% extends 'base.html' %}
{% block content %}

<h1 class="center">Create an Entry</h1>

<div class="entry-form-container">
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ entry_form.as_table }}
    </table>
    <div class="entry-form-submit">
      <a href="{% url 'detail' journal %}">Cancel</a>
      <input type="submit" value="Submit!" class="btn">
    </div>
  </form>
</div>



<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_weather');
  M.FormSelect.init(selectEl);

  const moodEl = document.getElementById('id_mood');
  M.FormSelect.init(moodEl);

</script>

{% endblock %}