body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


footer.page-footer {
  padding: 10px;
  text-align: center;
  color: black;
}

/* .journal-card {
  min-width: 325px;
} */

.journal-image {
  max-height: 350px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-size {
  height: 200px;
  width: 200px;
  justify-content: center;
}

.journal-container {
  padding: 20px;
  width: 70%;
  margin: auto;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
  width: 40%;
  border-radius: 2%;
  color: #000000;
  background-color: #e89cae;
}

.display-field {
  margin-bottom: 20px;
}

.date-display {
  font-size: 18px;
  margin-top: 0;
  padding: 10px;
  color: #000000;
  text-decoration: underline;
  white-space: nowrap;
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.body-desc {
  background-color: #eeccd4;
  padding: 10px;
}

.card-content {
  padding: 20px;
}

.card {
  margin-bottom: 30px;
}

.notes-section {
  margin-top: 20px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

h6 {
  font-weight: 600;
  margin-top: 0px;
  background-color: #eeccd4;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.affirmations {
  min-height: 150px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

.content {
  padding: 5px;
  line-height: 29px;
}

.mood-sleep-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mood {
 width: 45%;
}

.sleep{
  width: 45%;
}

h1, h3 {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px
}

.left-content, .right-content {
  padding: 10px;
}

.photo-display {
  padding: 20px;
}

.photo-form {
  padding-top: 10px;
}

.file-input {
  width: 100%;
  flex-wrap: wrap;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.delete-btn {
  display: flex;
  position: absolute;
  width: 20px;
  height: min-content;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10%;
  background-color: gray;
  font-weight: 600;
  color: black;
}