:root {
  --text-primary: #543a3a;
  --text-secondary: #f9ecec;
  --text-tertiary: #38598b;
  --bg-primary: #ecf2f9;
  --bg-secondary: #f0d9da;
  --text-breadcrumbs:  #e6a4b4;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 0 0 50px 150px;
}

title-nav h1 {
  margin-bottom: 0px;
}


footer.page-footer {
  padding: 10px;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

nav {
  background-color: var(--bg-primary);
  position: fixed;
  height: 100%;
  width: 150px;
  float: left;
  padding:5px;
  flex-direction: column;
}

nav ul li {
  margin-top: 5px;
  width: 100%;
}

nav ul li a {
  color: var(--text-primary);
}


#title-nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
}

#detail-breadcrumb {
  margin-left: 150px;
}

.breadcrumb-container .breadcrumb {
  display: flex;
  align-items: center;
}
.breadcrumb {
  color: var(--text-breadcrumbs);
}

.breadcrumb:last-child {
  color: var(--text-primary);
}

.breadcrumb:before {
  color: var(--text-tertiary);
}

#create {
  font-size: 12px;
}

.container {
  width: 100%;
  max-width: 80%;
}

.background {
  background-image: url("/static/images/background.jpg");
  width: 100%;
}

.journal-image {
  max-height: 350px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-size {
  height: 200px;
  width: 200px;
  justify-content: center;
}

.journal-container {
  padding: 20px;
  width: 70%;
  margin: auto;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
  width: 40%;
  border-radius: 2%;
  color: #000000;
  background-color: var(--bg-secondary);
}

.display-field {
  margin-bottom: 20px;
}

.date-display {
  font-size: 18px;
  margin-top: 0;
  padding: 10px;
  color: #000000;
  text-decoration: underline;
  white-space: nowrap;
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.body-desc {
  background-color: var(--text-secondary);
  padding: 10px;
}

.body-desc a {
  color: var(--text-tertiary);
}

.card-content {
  padding: 20px;
}

.card {
  margin-bottom: 30px;
}

.notes-section {
  margin-top: 20px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

h6 {
  font-weight: 600;
  margin-top: 0px;
  background-color: var(--text-secondary);
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.affirmations {
  min-height: 150px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

.content {
  padding: 5px;
  line-height: 29px;
}

.mood-sleep-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mood {
 width: 45%;
}

.sleep{
  width: 45%;
}

h1, h3 {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px
}

.left-content, .right-content {
  padding: 10px;
}

.photo-display {
  padding: 20px;
}

.photo-form {
  padding-top: 10px;
}

.file-input {
  width: 100%;
  flex-wrap: wrap;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.delete-btn {
  display: flex;
  position: absolute;
  width: 20px;
  height: min-content;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10%;
  background-color: gray;
  font-weight: 600;
  color: black;
}

#index {
  margin-top: 15px;
  min-height: 150px;
  padding: 2px;
  line-height: 29px;
}

#entry-card {
  padding: 2px 5px;
}

#entry-card h3 {
  padding-left: 15px;
}

.bold-label {
  font-weight: bold;
  font-family: "Bad Script", cursive;
  font-size: 15px;
  letter-spacing: 1px;
}

/* .pink {
  background: rgb(252,70,107);
  background: radial-gradient(circle, rgba(252,70,107,0.7035189075630253) 0%, rgba(235,215,219,0.9556197478991597) 100%);
} */

@media only screen and (max-width: 780) {
  .title-nav {
    align-items: flex-end;
  }
}