:root {
  --text-primary: #543a3a;
  --text-secondary: #f9ecec;
  --text-tertiary: #38598b;
  --bg-primary: #ecf2f9;
  --bg-secondary: #f0d9da;
  --text-breadcrumbs:  #e6a4b4;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-background {
  background-image: url("/static/images/floral.jpg");
}

main {
  flex: 1;
  padding: 0 0 0 150px;
}

#title-nav h1 {
  margin-bottom: 0px;
}

.submit-btn {
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: var(--text-primary);
  padding: 0;
  font-weight: 600;
}

.btn, .btn-large, .btn-small {
  background-color: var(--text-breadcrumbs);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: var(--text-breadcrumbs);
}


footer.page-footer {
  padding: 10px;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

nav {
  background-color: var(--bg-primary);
  position: fixed;
  height: 100%;
  width: 150px;
  float: left;
  padding:5px;
  flex-direction: column;
}

nav ul li {
  margin-top: 5px;
  width: 100%;
  padding: 5px 0;
}

nav ul li a {
  color: var(--text-primary);
  font-size: 20px;
  text-align: center;
}

#title-nav {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255, .80);
}

#detail-breadcrumb {
  margin-left: 50px;
}

.breadcrumb-container .breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.breadcrumb {
  color: var(--text-breadcrumbs);
}

.breadcrumb:last-child {
  color: var(--text-primary);
}

.breadcrumb:before {
  color: var(--text-tertiary);
}

.pinky-text {
  color: var(--text-breadcrumbs);
}
.bluey-text {
  color: var(--text-tertiary);
}

#create {
  line-height: 1;
  padding: 15px;
}

.container {
  width: 100%;
  max-width: 80%;
}

/* .background {
  background-image: url("/static/images/background.jpg");
  width: 100%;
  height: 100vh;
} */

.journal-image {
  max-height: 350px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-size {
  height: 200px;
  width: 200px;
  justify-content: center;
}

.journal-container {
  padding: 20px;
  width: 70%;
  margin: auto;
}

.entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row .col.s4 {
  margin-left: 0;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding: 10px;
  width: 40%;
  border-radius: 2%;
  color: #000000;
  background-color: var(--bg-secondary);
}

.display-field {
  margin-bottom: 20px;
}

.date-display {
  font-size: 18px;
  margin-top: 0;
  padding: 10px;
  color: #000000;
  text-decoration: underline;
  white-space: nowrap;
}

.title-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.body-desc {
  background-color: var(--text-secondary);
  padding: 10px;
}

.body-desc a {
  color: var(--text-primary);
}

.card-content {
  padding: 20px;
}

.card {
  margin-bottom: 30px;
}

.detail-sizing {
  min-height: 550px;
}

.notes-section {
  margin-top: 20px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

h6 {
  font-weight: 600;
  margin-top: 0px;
  background-color: var(--text-secondary);
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.affirmations {
  min-height: 150px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  padding: 5px;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #e0e0e0 28px,
    #e0e0e0 29px
  );
  position: relative;
}

.content {
  padding: 5px;
  line-height: 29px;
}

.mood-sleep-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mood {
 width: 45%;
}

.sleep{
  width: 45%;
}

h1, h3 {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px
}

.left-content, .right-content {
  padding: 10px;
}

.photo-display {
  padding: 20px;
}

.photo-form {
  padding-top: 10px;
}

.file-input {
  width: 100%;
  flex-wrap: wrap;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.delete-btn {
  display: flex;
  position: absolute;
  width: 20px;
  height: min-content;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10%;
  background-color: gray;
  font-weight: 600;
  color: black;
}

#index {
  margin-top: 15px;
  min-height: 150px;
  padding: 2px;
  line-height: 29px;
}

#entry-card {
  padding: 2px 5px;
}

#entry-card h3 {
  padding-left: 15px;
}

.bold-label {
  font-weight: bold;
  font-family: "Bad Script", cursive;
  font-size: 15px;
  letter-spacing: 1px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .8fr 1fr 1.5fr .7fr 2fr;
  gap: 10px;

}

.home-image {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-image: url("/static/images/insightinkpink.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--bg-secondary);
  box-shadow:rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.home-motto {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-motto h6 {
  padding: 0 7em;
  background: none;
  margin: 10px 10px;
  font-size: 1.5rem;
  text-align: center;
}

.home-about-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.home-about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  text-align: center;
  padding-right: 3rem;
}

.about-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 18px;
  padding: 0 7.5rem;
}

.home-design-container {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  position: relative;
}

.home-design {
  display: flex;
  justify-content: flex-end;
  background-color: #e6a4b4;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 0;
  right: 6rem;
  transform: rotate(90deg);
}

.design-title {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto auto;
}

.design-title h3 {
  justify-content: center;
  align-items: center;
}

.design-content {
  background-color: var(--bg-secondary);
  height: 25rem;
  width: 25rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3rem;
  right: 10rem;
}

.home-mission {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-tracking {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  padding: 0 3rem 0 5rem;
  font-size: 1.3rem;
}

.home-tracking ul li {
  list-style: circle;
}

.tracking-header {
  font-weight: 500;
}

.home-pictures {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.home-pictures h5 {
  font-weight: 300;
}

.frog-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frog-photo img {
  width: 70%;
  height: 95%;
}


/* ----------------------- MEDIA QUERIES -------------------------------- */

@media only screen and (max-width: 780) {
  .title-nav {
    align-items: flex-end;
  }
}