{% extends 'base.html' %}
{% block content %}

<div class="breadcrumb-container" id="detail-breadcrumb">
  <a href="{% url 'journals_index' %}" class="breadcrumb">My Journals</a>
  <a href="{% url 'detail' entry.journal_id %}" class="breadcrumb">{{entry.journal.name}}</a>
  <span class="breadcrumb">Journal Entry</span>
</div>

<div class="journal-container">
  <div class="card">
    <div class="card-content">
      <div class="title-date-container">
        <h1 class="section-title">{{ entry.title }}</h1>
        <h3 class="date-display">Date: {{ entry.date }}</h3>
      </div>
      <div class="display-field mood">
        <h6>Today I am Feeling...</h6>
        <p>{{ entry.mood_display }}</p>
      </div>
      <div class="display-field notes-section">
        <h6>Today...</h6>
        <p class="content">{{ entry.body }}</p>
      </div>
      <div class="display-field notes-section">
        <h6>Notes</h6>
        <p class="content">{{ entry.notes }}</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}