{% extends 'base.html' %}
{% block content %}

<h1>Entry Title: {{ travel.title }}</h1>

<div class="card">
  <div class="card-content">
    <p> Date: {{travel.date}} </p>
    <p> Content: {{travel.body}} </p>
    <p> Mood: {{travel.mood_display}}</p>
    <p> Location: {{travel.location}}</p>
    <p> Food: {{travel.food}}</p>
    <p> Weather: {{travel.weather_display}}</p>
    <p> Notes: {{travel.notes}}</p>
  </div>
  {% for photo in travel.photo_set.all %}
  <img class="responsive-img card-panel img-size" src="{{photo.url}}">
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' travel.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn">Upload Photo</button>
  </form>
</div>

{% endblock %}