{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumb-container" id="detail-breadcrumb">
  <a href="{% url 'journals_index' %}" class="breadcrumb">My Journals</a>
  <a href="{% url 'detail' wellness.journal_id %}" class="breadcrumb">{{wellness.journal.name}}</a>
  <span class="breadcrumb">Journal Entry</span>
</div>

<div class="background">
  <div class="journal-container">
    <div class="card">
      <div class="card-content">
        <div class="title-date-container">
          <h1 class="section-title">{{ wellness.title }}</h1>
          <h3 class="date-display">Date: {{ wellness.date }}</h3>
        </div>
        <div class="display-field body-desc">
          <h6>General Reflection on Today...</h6>
          <p>{{ wellness.body }}</p>
        </div>
        <div class="display-field affirmations">
          <h6 class="center-align">Quotes & Affirmations</h6>
          <p class="content">{{ wellness.affirmation }}</p>
        </div>
        <div class="mood-sleep-container">
          <div class="display-field mood">
            <h6>Today I am Feeling...</h6>
            <p>{{ wellness.mood_display }}</p>
          </div>
          <div class="display-field sleep">
            <h6>Today I Slept</h6>
            <p>{{ wellness.sleep }} hrs</p>
          </div>
        </div>
        <div class="display-field">
          <h6>Today I Ate</h6>
          <p>{{ wellness.food }}</p>
        </div>
        <div class="display-field notes-section">
          <h6>Thoughts of the day & Notes</h6>
          <p class="content">{{ wellness.notes }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  const mainEl = document.querySelector('main')
  console.log(mainEl)
  if (mainEl.classList.contains('container')) {
    mainEl.classList.remove('container')
  }
  console.log(mainEl)
</script>

{% endblock %}